
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	touch-action: none;
	-ms-touch-action: none;
}

canvas {
	/* Is baar hum 'object-fit' use NAHI karenge kyunki wo touch kharab karta hai */
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	
	/* Sirf width height 100% rakhenge */
	width: 100%;
	height: 100%;
	
	/* Focus outline hatao */
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
